<div class="past_events">
	<h2>Past events:</h2>
	<% @past_events.each do |event| %>
		<h3><%= event.name %></h3>
		<p><%= event.description %></p>
	<% end %>
</div>
<div class="futur_events">
	<h2>Futur events:</h2>
	<% @future_events.each do |event| %>
		<h3><%= event.name %></h3>
		<p><%= event.description %></p>
	<% end %>
</div>